
.idea/

/logs
/crash-reports
/datapacks
/resourcepacks
/screenshots
/shaderpacks
/downloads
/saves
/local
/modern_industrialization

kubejs/node_modules

options.txt
command_history.txt
realms_persistence.json
usercache.json
usernamecache.json
emi.json